# dependencies
node_modules/

# build outputs
.next/
.turbo/
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json

# prisma
packages/db/generated/
